
<div id="easyMegaMenu">
    <input type="hidden" id="removed_items" name="remove_items" data-bind="value:serializedRemovedItems">

    <div class="nav-menus-frame">
        <div class="menu-settings-column">
            <div class="accordion">

                <div class="panel">
                    <div class="panel-title">Page</div>
                    <div class="panel-content">
                        <div id="tabs1" class="tabs-panel">

                            <div id="tab-page" class="tab-content">
                                <ul data-bind="foreach: pages, visible: pages().length > 0">
                                    <li>
                                        <label class="menu-item-title">
                                            <input type="checkbox"
                                                   data-bind="checkedValue:page_id,checked: $data.parentLevel1.chosenPages,click: $data.parentLevel1.checkPage"
                                                   name="menu-item" class="menu-item-checkbox">
                                            <span data-bind="text:title()"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="clearfix" id="btn-add-page">
                            <button class="btn-add-menu" type="button"
                                    data-bind="event:{click: btnAddPage}">Add to Menu
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-title">Categories</div>
                    <div class="panel-content">
                        <div  class="tabs-panel">

                            <div id="tab-category" class="tab-content">
                                <ul data-bind="foreach: cats, visible: cats().length > 0">
                                    <li>
                                        <label class="menu-item-title">
                                            <input type="checkbox"
                                                   data-bind="checkedValue:cat_id,checked:$parent.chosenCats,click:$parent.checkCat"
                                                   name="menu-item" class="menu-item-checkbox">
                                            <span data-bind="text:title"></span>
                                        </label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button class="btn-add-menu" type="button" data-bind="event:{click: btnAddCat}">Add to
                                Menu
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Custom Link-->
                <div class="panel">
                    <div class="panel-title">Custom Link</div>
                    <div class="panel-content">
                        <div  class="tabs-panel">
                            <div id="tab-custom-link">
                                <div class="field-box">
                                    <label> Title</label>
                                    <input type="text" class="custome-link-input" name="custom_link_title"
                                           data-bind="value:custom_link_title">
                                </div>
                                <div class="field-box">
                                    <label> Link</label>
                                    <input type="text" class="custome-link-input" name="custom_link_link"
                                           data-bind="value:custom_link_link">
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <button class="btn-add-menu" type="button" data-bind="event:{click: btnCustomLink}">Add
                                to Menu
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <script id="formElementNodeTemplate" type="text/html">

            <li class="dd-item" data-bind="attr:{'data-id':id()}">
                <div class="dd-handle"><span data-bind="text:title()"></span></div>
                <span data-bind="click:myEdit"> Edit</span> <span style="margin-left: 20%" data-bind="click:myRemove">Remove</span>

                <!--ko if: children() -->
                <ol class="dd-list">
                    <!--ko foreach:children() -->

                        <!-- ko template: { name: 'formElementNodeTemplate' ,data:$data} -->
                        <!-- /ko -->

                    <!--/ko -->
                </ol>
                <!--/ko -->
            </li>
        </script>

        <div class="menu-content-column">
            <div class="menu-header">
            </div>
            <div class="menu-content left" style="float: left; display: block" id="menu-structure">
                <h3>Menu Structure</h3>
                <!--<div class="accordion-expand-holder">-->
                    <!--<button type="button" class="open" data-bind="click:expandAll">Expand all</button>-->
                    <!--<button type="button" class="close" data-bind="click:collapseAll" >Collapse all</button>-->
                <!--</div>-->
                <!--drag and drop-->
                <div class="dd" data-bind="mmnestable:{}">
                    <ol class="dd-list">
                        <!--ko if:nestedMenu() -->
                            <!--ko foreach:nestedMenu() -->
                            <!--ko if:level()==0 -->
                            <li class="dd-item" data-bind="attr:{'data-id':id(), 'data-level': level(),'data-title': title()}">
                                <div class="dd-handle"> <span data-bind="text: title"></span></div>
                                <span data-bind="click:myEdit"> Edit</span> <span style="margin-left: 20%" data-bind="click:myRemove">Remove</span>
                                <!--ko if: children-->
                                <ol class="dd-list">
                                    <!--ko foreach:children() -->
                                        <!-- ko template: { name: 'formElementNodeTemplate' ,data:$data} -->
                                        <!-- /ko -->
                                    <!-- /ko -->
                                </ol>
                                <!-- /ko -->

                            </li>
                            <!--/ko-->
                        <!--/ko-->
                        <!--/ko-->

                    </ol>
                </div>
                <!--end-->
            </div>


            <!--ko foreach:nestedMenu -->
            <!--ko if: isSelected()-->
            <div class="menu-content right" style="display: block">
                <h3>Item Setting</h3>
                <div class="menu-content-right-block"></div>
                <div class="menu-content-left-block"></div>
                <div class="left-block-field-content">
                    <div class="mega-fieldset  active">
                        <label class="mega-fieldset-title">Infomation</label>
                        <div class="field-content">
                            <div class="control-group ">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    <input class="mega-option-name" type="text" data-bind="value:title">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group ">
                                <label class="control-label" >Link</label>
                                <div class="controls">
                                    <input class="mega-option-name" type="text" data-bind="value:link">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group ">
                                <label class="control-label">Class</label>
                                <div class="controls">
                                    <input class="mega-option-name" type="text" data-bind="value:cssClass">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mega-fieldset">
                        <label class="mega-fieldset-title">Left Block</label>
                        <div class="field-content">
                            <div class="control-group ">
                                <label class="control-label">Enable</label>
                                <div class="controls">
                                    <select data-bind="value:leftEnable , event:{change:eventSideLeftEnable}" class="mega-option-show-icon">
                                        <option value="1">Yes</option>
                                        <option value="0" selected="selected">No</option>
                                    </select>
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group" data-bind="visible: showLeft">
                                <label class="control-label" >Class</label>
                                <div class="controls">
                                    <input data-bind = "value:leftClass"  class="mega-option-name" type="text">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group" data-bind="visible: showLeft">
                                <label class="control-label" >Width</label>
                                <div class="controls">
                                    <input data-bind = "value:leftWidth" style="float: left; width: 20%"  class="mega-option-name" type="number" min="1" max="12">
                                    <div class="field-cm" style="margin: 1.5%"><span > /12 Columns</span></div>
                                </div>
                            </div>

                            <div class="control-group " data-bind="visible: showLeft">
                                <label class="control-label" >Content HTML</label>
                                <div class="controls">

                                    <textarea  id ="short_description" data-bind = "value:leftContentHtml" name="custom_text_link"> </textarea>

                                    <div class="field-cm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mega-fieldset">
                        <label class="mega-fieldset-title">Main Content</label>
                        <div class="field-content">
                            <div class="control-group">
                                <label class="control-label" >Enable</label>
                                <div class="controls">
                                    <select data-bind="value:mainEnable, event:{change:eventMainEnable}" class="mega-option-content-type" >
                                        <option value="1" selected="selected">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <!--<div class="control-group ">-->
                                <!--<label class="control-label" >Name Product</label>-->
                                <!--<div class="controls">-->
                                    <!--<input data-bind="value:mainProductSku"  class="mega-option-name" type="text">-->
                                    <!--<div class="field-cm"></div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="control-group ">-->
                                <!--<label class="control-label" >In Category</label>-->
                                <!--<div class="controls">-->
                                    <!--<input data-bind="value:mainInCategory"  class="mega-option-name" type="text">-->
                                    <!--<div class="field-cm"></div>-->
                                <!--</div>-->
                            <!--</div>-->


                            <div class="control-group" data-bind="visible:showMain">
                                <label class="control-label" >Content type</label>
                                <div class="controls">
                                    <select data-bind="value:mainContentType, event:{change:eventMainxxx}" class="mega-option-content-type">
                                        <option value="content" >Content</option>
                                        <option value="grid" selected="selected">Grid</option>
                                        <option value="default-list">Default List</option>
                                    </select>
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group" data-bind="visible: showGrid">
                                <label class="control-label" >Column</label>
                                <div class="controls">
                                    <!--<input data-bind="value:mainColumn"  class="mega-option-name" type="text">-->
                                    <select data-bind="value:mainColumn" class="mega-option-name">
                                        <!--<option value="childmenu" >Child Menu Item</option>-->
                                        <option value="1" >1</option>
                                        <option value="2" >2</option>
                                        <option value="3" >3</option>
                                        <option value="4" selected="selected">4</option>
                                        <option value="6">6</option>
                                        <option value="12">12</option>
                                    </select>
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group" data-bind="visible: showContent">
                                <label class="control-label" >Content HTML</label>
                                <div class="controls">
                                    <textarea data-bind="value:mainContentHtml" name="custom_text_link"> </textarea>

                                    <div class="field-cm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mega-fieldset">
                        <label class="mega-fieldset-title">Right Block</label>
                        <div class="field-content">
                            <div class="control-group ">
                                <label class="control-label" >Enable</label>
                                <div class="controls">
                                    <select  class="mega-option-show-icon" data-bind="value:rightEnable, event:{change:eventSideRightEnable}">
                                        <option value="1" >Yes</option>
                                        <option value="0" selected="selected">No</option>
                                    </select>
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group " data-bind="visible: showRight">
                                <label class="control-label" >Class</label>
                                <div class="controls">
                                    <input  class="mega-option-name" type="text" data-bind="value:rightClass">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group " data-bind="visible: showRight">
                                <label class="control-label" >Width</label>
                                <div class="controls">
                                    <input style="float: left; width: 20%" class="mega-option-name" type="number" min="1" max="12" data-bind="value:rightWidth" >
                                    <div class="field-cm" style="margin: 1.5%"><span > /12 Columns</span></div>
                                </div>
                            </div>

                            <div class="control-group " data-bind="visible: showRight">
                                <label class="control-label" >Content HTML</label>
                                <div class="controls">
                                    <textarea name="custom_text_link" data-bind="value:rightContentHtml"> </textarea>

                                    <div class="field-cm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mega-fieldset">
                        <label class="mega-fieldset-title">Style</label>
                        <div class="field-content">
                            <div class="control-group ">
                                <label class="control-label" >Text Color</label>
                                <div class="controls">
                                    <input class="mega-option-name" type="text" data-bind="value:textColor,valueUpdate:['afterkeydown','propertychange','input','click','change'],mmcolorpicker:{}">
                                    <div class="field-cm"></div>
                                </div>
                            </div>

                            <div class="control-group ">
                                <label class="control-label" >Hover Text color</label>
                                <div class="controls">
                                    <input  class="mega-option-name" type="text" data-bind="value:hoverTextColor,valueUpdate:['afterkeydown','propertychange','input','click','change'],mmcolorpicker:{}">
                                    <div class="field-cm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--/ko-->
            <!--/ko-->


        </div>
    </div>

    <div class="modal-wrapper">
        <div class="modal-container-menu" data-role="modal-box">


        </div>
    </div>

</div>



<ul style="display:none" class="list-item-menu" data-bind="foreach: nestedMenu, visible: nestedMenu().length > 0" data-role="menu-container-data">
    <li class="item-menu" style="display: none">
        <span data-bind="text:title()"></span>
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][id]'}, value:id" data-role="id">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][children]',id:'children' + id(),'data-parent':id()},value:serializedChildren()" data-role="children">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][obj_id]'}, value:obj_id">

        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][level]',id:'level' + id()}, value:level">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][level]',id:'leveltemp' + id()}, value:levelTemp()">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][sort]',id:'sort' + id()}, value:sort()">

        <input type="input"  data-bind="attr: { name: 'menu[' + id() + '][isTop]'}, value:isTop" data-role="isTop" >
        <input type="input"  data-bind="attr: { name: 'menu[' + id() + '][is_bottom]'}, value:isBottom" data-role="isBottom" >

        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][parent]'}, value:parent">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][parent_id]'}, value:parent">
        <input type="input"
               data-bind="attr: { name: 'menu[' + id() + '][megaColumn]'}, value:megaColumn">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][type]'}, value:type">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][obj_id]'}, value:obj_id">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][link]'}, value:link">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][is_new]'}, value:is_new">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][title]'}, value:title">

        <input type="input"
               data-bind="attr: { name: 'menu[' + id() + '][brother_name]'}, value:brother_name"
               data-role="brother">
        <input type="input"
               data-bind="attr: { name: 'menu[' + id() + '][include_child]'}, value:include_child"
               data-role="include_child">

        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][cssClass]'}, value:cssClass">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][showIcon]'}, value:showIcon">

        <!--Left Section-->
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][leftEnable]'}, value:leftEnable">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][leftClass]'}, value:leftClass">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][leftWidth]'}, value:leftWidth">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][leftContentHtml]'}, value:leftContentHtml">


        <!--Main Section-->
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainEnable]'}, value:mainEnable">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainProductSku]'}, value:mainProductSku">

        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainInCategory]'}, value:mainInCategory">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainContentType]'}, value:mainContentType">

        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainColumn]'}, value:mainColumn">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][mainContentHtml]'}, value:mainContentHtml">

        <!--Right Section-->
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][rightEnable]'}, value:rightEnable">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][rightClass]'}, value:rightClass">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][rightWidth]'}, value:rightWidth">
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][rightContentHtml]'}, value:rightContentHtml">

        <!--General Style-->
        <input type="input" data-bind="attr: { name: 'menu[' + id() + '][textColor]'}, value:textColor">
        <input type="input " data-bind="attr: { name: 'menu[' + id() + '][hoverTextColor]'}, value:hoverTextColor">


    </li>
</ul>


