<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$megaMenu = $objectManager->create('Magenest\MegaMenu\Model\MegaMenu');
$menu = $megaMenu->getCollection()
    ->addFieldToFilter('is_active', '1')->getFirstItem();
if (!$menu->getId()) { ?>
    <nav class="navigation" role="navigation">
        <div class="navigation magemenu-menu">
            <ul class="nav-exploded explodedmenu">
                You have no menu!
            </ul>
        </div>
    </nav>
    <?php
}

$menuEntity = $objectManager->create('Magenest\MegaMenu\Model\MenuEntity');
$menuTemplate = $menu->getData('menu_template');
//var_dump($menuTemplate);
/** get the menu item associated with the menu */
$menuItemCollection = $menuEntity->getCollection()
    ->addFieldToFilter('menu_id', (int)($menu->getId()))->addFieldToFilter('level', '0')->setOrder(
        'sort',
        \Magento\Framework\DB\Select::SQL_ASC
    );

$result = array();
if ($menuItemCollection->getSize() > 0) {

    /** @var \Magenest\MegaMenu\Model\MenuEntity $menuItem */
    foreach ($menuItemCollection as $menuItem) {
        $menuItem->load($menuItem->getEntityId());

        $menuItemData = $menuItem->getChildrenTreeFormat();
        $menuItemData['id'] = $menuItem->getEntityId();
        $menuItemData['title'] = $menuItem->getTitle();
        $menuItemData['is_new'] = 'false';
        if($menuItemData['mainContentType']==null){
            $menuItemData['mainContentType'] = 'grid';
            if($menuItemData['mainColumn']==null){
                $menuItemData['mainColumn'] = 4;
            }
        }
        if($menuItemData['mainEnable']==1){
            if($menuItemData['mainContentHtml']==null&&$menuItemData['leftContentHtml']==null&&$menuItemData['rightContentHtml']==null&&$menuItemData['hasChild']=='no'){
                $menuItemData['mainEnable']=0;
            }
        }
        $result['menu_item_nest'][] = $menuItemData;
    }
}

//var_dump($result);


$topLevelMenus = $this->getTopLevelMenu();
// $menu =  '<ul class="nav-links">';
$menu = '';
?>
<!--<div style="background: #f0f0f0; display: block;">-->
<?php if ($menuTemplate == 'horizontal') { ?>
    <nav class="navigation" role="navigation">
        <div class="navigation magemenu-menu horizontal-menu">
            <ul class="nav-exploded explodedmenu">
                <?php
                if (isset($result['menu_item_nest'])) {
                    foreach ($result['menu_item_nest'] as $top) {
                        getHtmlMenu($top);
                    }
                }
                ?>
            </ul>
        </div>
    </nav>
<?php } else { ?>

    <!--vertical-->
    <nav class="navigation vertical" role="navigation">
        <span class="btn-menu-vertical"></span>
        <div class="navigation magemenu-menu vertical-menu">
            <ul class="nav-exploded explodedmenu">
                <?php
                if (isset($result['menu_item_nest'])) {
                    foreach ($result['menu_item_nest'] as $top) {
                        getHtmlMenu($top);
                    }
                }
                ?>
            </ul>
        </div>
    </nav>
<?php } ?>
<!--end vertical-->
<?php
function getHtmlMenu($top)
{


?><!--have no sub-->
<?php if (isset($top['title']) && ($top['level'] == 0) && ($top['hasChild'] == 'no')) { ?>
    <li class="menu">
        <a href=<?php echo $top['link']; ?>>
               <span style="<?php if (isset($top['textColor'])) {
                    echo 'color:' . $top['textColor'] . ';';
}?>"<?php

if (isset($top['hoverTextColor'])) {
   if(!isset($top['textColor'])) {$top['textColor'] = '#ffffff';}
   echo 'onmouseout="this.style.color=\''.$top['textColor'].'\'" onmouseover="this.style.color=\''.$top['hoverTextColor'].'\'"';
} ?>> <?php echo $top['title']; ?></span></a>
        <!-- block left-->
        <?php if (($top['leftEnable']=='1') || ($top['rightEnable']=='1') || ($top['mainEnable']=='1')) { ?>
         <div>
            <div class="menu-box">
                <?php if (isset($top['leftEnable'])&&$top['leftEnable']=='1') { ?>
                <div class="block-left <?php
                    if (isset($top['leftClass'])) {
                        echo $top['leftClass'];
                    }

                    if (isset($top['leftWidth'])) {
                        echo " col-md-" . $top['leftWidth'];
                    }
                    ?>">
                    <div>
                            <?php if (isset($top['leftContentHtml'])) {
                                echo $top['leftContentHtml'];
} ?>
                    </div>
                </div>
                <?php } ?>
                <!--main-->
                <?php if (isset($top['mainEnable']) && $top['mainEnable'] == '1') { ?>
                <div class="block-main <?php if (isset($top['mainContentType'])) {
                        echo $top['mainContentType'];
}

if (!isset($top['mainColumn'])) {
    $top['mainColumn'] = 12;
}

if (!isset($top['leftWidth'])) {
    $top['leftWidth'] = 0;
}

if (!isset($top['rightWidth'])) {
    $top['rightWidth'] = 0;
}

if (isset($top['leftEnable'])&&$top['leftEnable']=='1' && isset($top['rightEnable'])&&$top['leftEnable']=='1') {
    echo " col-md-" . (12 - $top['leftWidth'] - $top['rightWidth']);
} elseif ($top['leftEnable']=='1' && $top['rightEnable']!='1') {
    echo " col-md-" . (12 - $top['leftWidth']);
} elseif ($top['leftEnable']!='1' && $top['rightEnable']=='1') {
    echo " col-md-" . (12 - $top['rightWidth']);
} else {
    echo " col-md-12";
};
                    ?>">
                        <?php
                        if (isset($top['childrenraw']) && $top['mainContentType'] != 'grid') {
                            foreach ($top['childrenraw'] as $child) {
                                getHtmlMenu($child);
                            }
                        }

                        if (isset($top['childrenraw']) && $top['mainContentType'] == 'grid') {
                            foreach ($top['childrenraw'] as $child) {
                                ?>
                                <div class="grid-child col-md-<?php echo 12 / (int)$top['mainColumn'] ?>">
                                    <?php getHtmlMenu($child); ?>
                                </div>
                                <?php
                            }
                        }

                        if (isset($top['mainContentHtml'])) {
                            echo $top['mainContentHtml'];
                        }
                        ?>
                </div>
                <?php } ?>
                <!--right-->
                <?php if (isset($top['rightEnable']) && $top['rightEnable']=='1') { ?>
                <div class="block-right <?php
                    if (isset($top['rightClass'])) {
                        echo $top['rightClass'];
                    }

                    if (isset($top['rightWidth'])) {
                        echo " col-md-" . $top['rightWidth'];
                    }
                    ?>">
                        <div>
                            <?php if (isset($top['rightContentHtml'])) {
                                echo $top['rightContentHtml'];
} ?>
                        </div>
                </div>
                <?php } ?>
            </div>
       </div><?php } ?>
    </li>
<?php } ?>
<!--have sub-->
<?php if (isset($top['title']) && ($top['level'] == 0) && ($top['hasChild'] == 'yes')) { ?>
    <li class="menu parentMenu">
        <a href=<?php echo $top['link']; ?>>
                    <span style="<?php if (isset($top['textColor'])) {
                        echo 'color:' . $top['textColor'] . ';';
} ?>"<?php

if (isset($top['hoverTextColor'])) {
    if(!isset($top['textColor'])) {$top['textColor'] = '#ffffff';}
    echo 'onmouseout="this.style.color=\''.$top['textColor'].'\'" onmouseover="this.style.color=\''.$top['hoverTextColor'].'\'"';
} ?>> <?php echo $top['title']; ?></span></a>
        <?php if (isset($top['leftEnable']) || isset($top['rightEnable']) || isset($top['mainEnable'])) { ?>
            <div>
            <div class="menu-box">
                <!-- block left -->
                <?php if (isset($top['leftEnable'])) { ?>
                    <div class="block-left <?php
                    if (isset($top['leftClass'])) {
                        echo $top['leftClass'];
                    }

                    if (isset($top['leftWidth'])) {
                        echo " col-md-" . $top['leftWidth'];
                    }
                    ?>">
                        <div>
                            <?php if (isset($top['leftContentHtml'])) {
                                echo $top['leftContentHtml'];
} ?>
                        </div>
                    </div>
                <?php } ?>
                <!--main-->
                <?php if (isset($top['mainEnable']) || $top['mainEnable'] == '1') { ?>
                    <div class="block-main <?php if (isset($top['mainContentType'])) {
                        echo $top['mainContentType'];
}

if (!isset($top['mainColumn'])) {
    $top['mainColumn'] = 12;
}

if (isset($top['leftWidth']) && isset($top['rightWidth'])) {
    echo " col-md-" . (12 - $top['leftWidth'] - $top['rightWidth']);
} elseif (isset($top['leftWidth']) && !isset($top['rightWidth'])) {
    echo " col-md-" . (12 - $top['leftWidth']);
} elseif (!isset($top['leftWidth']) && isset($top['rightWidth'])) {
    echo " col-md-" . (12 - $top['leftWidth']);
} else {
    echo " col-md-12";
};
                    ?>">
                        <?php
                        if (isset($top['childrenraw']) && $top['mainContentType'] != 'grid') {
                            foreach ($top['childrenraw'] as $child) {
                                getHtmlMenu($child);
                            }
                        }

                        if (isset($top['childrenraw']) && $top['mainContentType'] == 'grid') {
                            foreach ($top['childrenraw'] as $child) {
                                ?>
                                <div class="grid-child col-md-<?php echo 12 / (int)$top['mainColumn'] ?>">
                                    <?php getHtmlMenu($child); ?>
                                </div>
                                <?php
                            }
                        }

                        if (isset($top['mainContentHtml'])) {
                            echo $top['mainContentHtml'];
                        }
                        ?>
                    </div>
                <?php } ?>
                <!--right-->
                <?php if (isset($top['rightEnable'])) { ?>
                    <div class="block-right <?php
                    if (isset($top['rightClass'])) {
                        echo $top['rightClass'];
                    }

                    if (isset($top['rightWidth'])) {
                        echo " col-md-" . $top['rightWidth'];
                    }
                    ?>">
                        <div>
                            <?php if (isset($top['rightContentHtml'])) {
                                echo $top['rightContentHtml'];
} ?>
                        </div>
                    </div>
                <?php } ?>
</div></div><?php } ?>
    </li>
<?php } ?>
<!--sub-->
<?php if (isset($top['title']) && ($top['level'] != 0)) { ?>
    <ul class="itemsubmenu">
        <li class="itemMenu subparent ">
            <a href=<?php echo $top['link']; ?>>
                    <span style="<?php if (isset($top['textColor'])) {
                        echo 'color:' . $top['textColor'] . ';';
}

if (isset($top['title'])) {
    echo ' :hover {color: ' . $top['hoverTextColor'] . '}';
} ?>"> <?php echo $top['title']; ?></span></a>
            <?php if (isset($top['childrenraw'])) {
                foreach ($top['childrenraw'] as $child) {
                    getHtmlMenu($child);
                }
}
            ?>
        </li>
    </ul>
<?php } ?>

<?php }

?>


<!--<script>-->
<!--    require([-->
<!--        'jquery',-->
<!--        'Magenest_MegaMenu/js/owl.carousel',-->
<!--        'domReady!'-->
<!--    ], function ($) {-->
<!--        'use strict';-->
<!---->
<!--        $(".owl-carousel").each(function (index, el) {-->
<!--            var config = $(this).data();-->
<!--            config.navText = ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'];-->
<!--            config.smartSpeed = "800";-->
<!---->
<!--            // if ($.owlCarousel) {-->
<!--            $(this).owlCarousel(config);-->
<!--            //}-->
<!---->
<!---->
<!--        });-->
<!--        $('.action.nav-toggle').click(function () {-->
<!--            $("html").toggleClass("nav-before-open nav-open");-->
<!---->
<!--        });-->
<!--        $(".parent .ui-menu-icon").click(function () {-->
<!--            $(this).toggleClass('has-active');-->
<!--            $(this).parent().toggleClass('has-active');-->
<!---->
<!--        });-->
<!---->
<!--        $(".btn-menu-vertical").click(function () {-->
<!--            $(this).parent().children(".vertical-menu").toggleClass("active");-->
<!--        })-->
<!--    });-->
<!--</script>-->
