<?php
                        /**
                         * Created by Magenest
                         * User: Luu Thanh Thuy
                         * Date: 25/03/2016
                         * Time: 15:42
                         */
                        ?>

                        <div data-bind="scope:'megamenu'">
                            <div id="easyMegaMenu" >

                                <form id="menu_form" method="post" action="<?php echo $block->getUrl('menu/menu/save'); ?>" enctype="multipart/form-data" >
                                    <input type="hidden" id="form_key" name="form_key" value="<?php echo $block->getFormKey(); ?>" />
                                    <!--        <input type="hidden" id="removed_items" name="remove_items" data-bind="value:serializedRemovedItems">-->

                                    <div class="nav-menus-frame">
                                        <div class="menu-settings-column">
                                            <div  class="accordion">

                                                <div class="panel">
                                                    <div class="panel-title"><?php echo __("page") ?></div>
                                                    <div class="panel-content">
                                                        <div id="tabs1" class="tabs-panel">

                                                            <div id="tab-page" class="tab-content">
                                                                <ul data-bind="foreach: pages, visible: pages().length > 0">
                                                                    <li>
                                                                        <label class="menu-item-title">
                                                                            <input type="checkbox" data-bind="checkedValue:page_id,checked: $root.chosenPages,click: $root.checkPage" name="menu-item" class="menu-item-checkbox">
                                                                            <span data-bind="text:title"></span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                        <script type="text/javascript">

                                                        </script>
                                                        <div class="clearfix" id="btn-add-page">
                                                            <button class="btn-add-menu" type="button" data-bind="event:{click: btnAddPage}"><?php echo __('Add to Menu'); ?></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel">
                                                    <div class="panel-title"><?php echo __('Categories'); ?></div>
                                                    <div class="panel-content">
                                                        <div id="tabs2" class="tabs-panel">

                                                            <div id="tab-category" class="tab-content">
                                                                <ul data-bind="foreach: cats, visible: cats().length > 0" >
                                                                    <li>
                                                                        <label class="menu-item-title">
                                                                            <input type="checkbox" data-bind="checkedValue:$data.id,checked:$root.chosenCats,click:$root.checkCat"  name="menu-item"  class="menu-item-checkbox">
                                                                            <span data-bind="text:title"></span>
                                                                        </label>
                                                                    </li>

                                                                </ul>
                                                            </div>


                                                        </div>

                                                        <div class="clearfix">
                                                            <!--                                <button class="btn-add-menu" type="button" data-bind="event:{click: addCategoryLinkToMenu}" >--><?php //echo __('Add to Menu'); ?><!--</button>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Custom Link-->
                                                <div class="panel">
                                                    <div class="panel-title"><?php echo __('Custom Link'); ?></div>
                                                    <div class="panel-content">
                                                        <div id="tabs2" class="tabs-panel">
                                                            <div id = "tab-custom-link">
                                                                <div class="field-box">
                                                                    <label> <?php echo __('Title'); ?></label>
                                                                    <input type="text" class="custome-link-input" name="custom_link_title" data-bind="value:custom_link_title" >

                                                                </div>
                                                                <div class="field-box">
                                                                    <label> <?php echo __('Link'); ?></label>
                                                                    <input type="text" class="custome-link-input" name="custom_link_link" data-bind="value:custom_link_link" >

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix">
                                                            <!--                                <button class="btn-add-menu" type="button" data-bind="event:{click: addCustomLinkToMenu}" >--><?php //echo __('Add to Menu'); ?><!--</button>-->
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="menu-content-column">
                                            <div class="menu-header">
                                                <div class="form-group">
                                                    <!--                        <label for="menu-name"> Menu Name</label>
                                                    --><!--                        <input type="text" class="form-control" id="menu-name" value="menu1">
-->                    </div>
                                                <button type="button" data-bind="click:save" class="btn-save-menu"><?php echo __("Save Menu") ?></button>
                                            </div>
                                            <div class="menu-content left" style = "float: left; display: block" id="menu-structure">
                                                <h3><?php echo __('Menu Structure'); ?></h3>
                                                <h1 data-bind="text: menus().length"></h1>
                                                <!--                    <span data-bind="text:title"></span>-->
                                                <table>
                                                    <tbody data-bind="foreach: $root.menus">
                                                    <tr>
                                                        <td>xxx</td>
                                                        <!--                        <td><span data-bind="text:menus"></span></td>-->
                                                    </tr>
                                                    </tbody></table>

                                                <table>
                                                    <tbody data-bind="foreach: menus">
                                                    <tr>
                                                        <td>xxy</td>
                                                        <!--                        <td><span data-bind="text:title"> </span></td>-->
                                                    </tr>
                        </tbody></table>
<!--                    <ul class="list-item-menu" data-bind="foreach: menus, visible: menus().length > 0" data-role="menu-container" >-->
<!--                        <h1 data-bind="text: menus.length"></h1>-->
<!--                        <li class="item-menu" data-bind="css:'item-lv' + level(),attr:{'data-id':id, 'hasBrother':hasBrother, 'data-level':level, 'data-title':title, id:'menuitem' + id(), 'data-hasParent':hasParent,'data-parent':parent},mmdragdrop:{}" >-->
<!--                            <input type="hidden"  data-bind="attr: { name: 'menu[' + id() + '][id]'}, value:entity_id" >-->
<!--                            <input type="hidden"  data-bind="attr: { name: 'menu[' + id() + '][obj_id]'}, value:obj_id" >-->
<!---->
<!--                            <input type="hidden"  data-bind="attr: { name: 'menu[' + id() + '][level]'}, value:level" >-->
<!---->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][parent]'}, value:parent"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][parent_id]'}, value:parent"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][megaColumn]'}, value:megaColumn"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][type]'}, value:type"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][obj_id]'}, value:obj_id"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][link]'}, value:link"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][is_new]'}, value:is_new"  >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][title]'}, value:title"  >-->
<!---->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][brother_name]'}, value:brother_name" data-role="brother" >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][include_child]'}, value:include_child" data-role="include_child" >-->
<!--                            <input type="hidden" data-bind="attr: { name: 'menu[' + id() + '][show_product]'}, value:show_product" data-role="show_product" >-->
<!--                            <div class="accordion" id="accordion-item-menu">-->
<!--                                <div class="panel" data-bind="mmaccordion:{}">-->
<!--                                    <div class="panel-title"><span data-bind="text:title" data-role="title"></span>-->
<!---->
<!--                                        <!-- ko if: level() ==1 -->-->
<!--                                <span data-role="megacolumn" class="mega-setting-column">-->
<!--                                    <span class-icon="mega-less" data-bind="event:{click: downOneCol}"> < </span>-->
<!--                                    <span data-bind="text:megaColumn" ></span>-->
<!--                                    <span class-icon="mega-gt" data-bind="event:{click: upOneCol}"> > </span>-->
<!---->
<!--                                </span>-->
<!--                                        <!-- /ko -->-->
<!--                                        <span class="item-type" data-bind="text:type"></span></div>-->
<!--                                    <div class="panel-content">-->
<!--                                        <!-- ko if: level() ==0 -->-->
<!--                                        <span data-role="megasetting" class="mega-setting-icon-backport" data-bind="css:open_setting,attr:{ 'data-setting':id},click:$parent.megaSetting">&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
<!--                                        <!--/ko -->-->
<!--                                        <div class="form-group">-->
<!--                                            <label> --><?php //echo __('Move'); ?><!-- </label>-->
<!--                                            <a data-x="verbing" href="#" data-bind="event:{click: downOne}" >--><?php //echo __('Down One'); ?><!-- </a>-->
<!--                                            <a href="#" data-bind="event:{click: upOne}">--><?php //echo __('Up one'); ?><!--</a>-->
<!--                                            <!-- ko if: hasParent -->-->
<!--                                            <a href="#" data-bind="event:{click: $parent.outParent}">--><?php //echo __('Out from under'); ?><!-- <span data-bind="text:parentName"> </span></a>-->
<!---->
<!--                                            <!-- /ko -->-->
<!---->
<!--                                            <!-- ko if: hasBrother  -->-->
<!--                                            <a href="#" data-bind="event:{click: $parent.goUnder}">--><?php //echo __('Under'); ?><!-- <span data-bind="text:brother_name"> </span></a>-->
<!---->
<!--                                            <!--/ko -->-->
<!---->
<!---->
<!--                                        </div>-->
<!---->
<!--                                        <div class="form-action">-->
<!--                                            <label>--><?php //echo __('Original'); ?><!--: </label>-->
<!--                                            <a href=""><span data-bind="text:title"></a>-->
<!--                                        </div>-->
<!--                                        <div class="clearfix">-->
<!--                                            <a href="" class="select-all" data-bind="event:{click: $parent.removeMenu}" >--><?php //echo __('Remove'); ?><!--</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!---->
<!--                    </ul>-->
                </div>

                <div class="menu-content right">
                    <h3>Item Setting</h3>
                    <div class="menu-content-right-block"></div>
                    <div class="menu-content-left-block"></div>
                    <div class="left-block-field-content">
                        <div class="mega-fieldset">
                            <label class="mega-fieldset-title">Infomation</label>
                            <div class="field-content">
                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Name</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Link</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Class</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Show Icon</label>
                                    <div class="controls">
                                        <select id="option-show-icon" class="mega-option-show-icon">
                                            <option value="1" selected="selected">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mega-fieldset">
                            <label class="mega-fieldset-title">Left Block</label>
                            <div class="field-content">
                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Enable</label>
                                    <div class="controls">
                                        <select id="option-show-icon" class="mega-option-show-icon">
                                            <option value="1" selected="selected">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Class</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Width</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-39">Content HTML</label>
                                    <div class="controls">
                                        <textarea name="custom_text_link"> </textarea>

                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mega-fieldset">
                            <label class="mega-fieldset-title">Main Content</label>
                            <div class="field-content">
                                <div class="control-group">
                                    <label class="control-label" for="option-1">Sub-Product</label>
                                    <div class="controls">
                                        <select id="option-content-type" class="mega-option-content-type">
                                            <option value="1" selected="selected">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Name Product</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label class="control-label" for="option-1">In Category</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

<!--                                <div class="control-group ">-->
<!--                                    <label class="control-label" for="option-1">Sub-Category</label>-->
<!--                                    <div class="controls">-->
<!--                                        <select id="option-content-type" class="mega-option-content-type">-->
<!--                                            <option value="1" selected="selected">Yes</option>-->
<!--                                            <option value="0">No</option>-->
<!--                                        </select>-->
<!--                                        <div class="field-cm"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!---->
<!--                                <div class="control-group ">-->
<!--                                    <label class="control-label" for="option-1">Name Category</label>-->
<!--                                    <div class="controls">-->
<!--                                        <input id="option-name" class="mega-option-name" type="text">-->
<!--                                        <div class="field-cm"></div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Content type</label>
                                    <div class="controls">
                                        <select id="option-content-type" class="mega-option-content-type">
                                            <option value="childmenu" selected="selected">Child Menu Item</option>
                                            <option value="content">Content</option>
                                            <option value="grid">Grid</option>
                                            <option value="default-list">Default List</option>
                                            <option value="dynamic-list">Dynamic List</option>
                                        </select>
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Column</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-39">Content HTML</label>
                                    <div class="controls">
                                        <textarea name="custom_text_link"> </textarea>

                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mega-fieldset">
                            <label class="mega-fieldset-title">Right Block</label>
                            <div class="field-content">
                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Enable</label>
                                    <div class="controls">
                                        <select id="option-show-icon" class="mega-option-show-icon">
                                            <option value="1" selected="selected">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Class</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Width</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-39">Content HTML</label>
                                    <div class="controls">
                                        <textarea name="custom_text_link"> </textarea>

                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mega-fieldset">
                            <label class="mega-fieldset-title">Style</label>
                            <div class="field-content">
                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Text Color</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label class="control-label" for="option-1">Hover Text color</label>
                                    <div class="controls">
                                        <input id="option-name" class="mega-option-name" type="text">
                                        <div class="field-cm"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="modal-wrapper" >
        <div class="modal-container-menu" data-role="modal-box">


        </div>
    </div>
<!--    <div id="menumegaLoading" data-bind="visible:isLoading">-->
<!--        <h3>Loading</h3>-->
<!--    </div>-->
</div>
</div>
<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
    }

}
</script>
<script type="text/javascript">
    require([
        "jquery",
        "ko",
        'mage/url',
        'Magenest_MegaMenu/js/menu',
        'domReady!'
    ], function($, ko,url,menu) {

        /* Update brother function which is called after upone,down up, out of parent and add to button */
        var loadMenuUrl ='<?php echo $block->getUrl('menu/menu/menu'); ?>';
        var loadPageUrl ='<?php echo $block->getUrl('menu/menu/cmsajax'); ?>';
        var loadCategoriesUrl ='<?php echo $block->getUrl('menu/menu/categoryajax'); ?>';

        var megamenu = new menu({
            config:{
                loadMenuUrl:loadMenuUrl,
                loadPageUrl: loadPageUrl,
                loadCategoriesUrl: loadCategoriesUrl
            }
        });



 /*       setInterval(function() {
            var icons = {
                header: "icon-arrow-up",
                activeHeader: "icon-arrow-down"
            };
            $( "#accordion-item-menu .panel:not(.ui-accordion)" ).accordion({
                active: true,
                collapsible: true,
                heightStyle: "content",
                icons: icons
            });

            $( ".accordion div.panel:not(.ui-accordion)" ).accordion({
                active: false,
                collapsible: true,
                heightStyle: "content",
                icons: icons
            });

            $('.item-menu:not(.ui-draggable)').draggable({

                revert: function(dropped)
                {
                    return true;

                }
            });


        },3000);*/


        $('span[data-role="megasetting"]').on('click' ,function() {
            event.stopPropagation();
            //alert('click mega');
        });
    });
</script>
