<?php
/**
 * Created by PhpStorm.
 * User: thuy
 * Date: 17/04/2017
 * Time: 09:29
 */

/** @var \Magenest\MegaMenu\Helper\Data $helper */
$helper = $this->helper('Magenest\MegaMenu\Helper\Data');


/** @var \Magenest\MegaMenu\Block\Adminhtml\Template\Menu $block */
$menuId = $block->getMenuId();
?>
<style>
    .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

</style>

<?php if (false) {  ?>
<div id="megaMenu" data-bind="scope:'megaMenu'" >
    <script>
        window.megaMenuConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($helper->getConfig($menuId)); ?>;

    </script>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#megaMenu"
        :
            {
                "Magento_Ui/js/core/app"
            :
                {
                    "components"
                :
                    {
                        "megaMenu"
                    :
                        {
                            "component"
                        :
                            "Magenest_MegaMenu\/js\/view\/megaMenu"


                        }
                    }
                }
            }
        ,
            "*"
        :
            {
                "Magento_Ui/js/block-loader"
            :
                "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
            }
        }
    </script>
</div>

<?php } else {   ?>
    <div id="nestedMenu" data-bind="scope:'nestedMenu'" >
        <script>
            window.megaMenuConfig = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($helper->getConfig($menuId)); ?>;

        </script>

        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#nestedMenu"
        :
            {
                "Magento_Ui/js/core/app"
            :
                {
                    "components"
                :
                    {
                        "nestedMenu"
                    :
                        {
                            "component"
                        :
                            "Magenest_MegaMenu\/js\/view\/nestedMenu"
                        ,
                            "component2"
                        :
                            "Magenest_MegaMenu\/js\/view\/test"
                        }
                    }
                }
            }
        ,
            "*"
        :
            {
                "Magento_Ui/js/block-loader"
            :
                "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
            }
        }
    </script>
    </div>

<?php }   ?>
