.row {
    margin: 0 -15px;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    margin-bottom: 15px;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-7 {
    width: 58.33333333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.66666667%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}
.nav {
    background-color: #A99E9E;
}
.nav .active-nav {
    display: none;
}
.nav-links {
    margin: 0;
    padding: 0;
    background-color: #A99E9E;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
    color: #d6d6d6;
}
.nav-links * {
    box-sizing: border-box;
}
.nav-links:before,
.nav-links:after {
    content: "";
    display: table;
}
.nav-links:after {
    clear: both;
}
.nav-links a {
    text-decoration: none;
    color: #d6d6d6;
}
.nav-links img {
    max-width: 100%;
}
.nav-links h4 {
    margin-top: 0;
    text-transform: uppercase;
}
.nav-links ul {
    margin: 0;
    padding: 0;
}
.nav-links ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links > li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links > li.item-parent > a:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #434A54 transparent;
    bottom: -11px;
    left: 50%;
    margin-left: -6px;
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease 0s;
}
.nav-links > li > a {
    padding: 20px 12px;
    display: block;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.nav-links > li > a:after {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
.nav-links > li.active > a,
.nav-links > li:hover > a {
    background-color: #FFF9F5;
    color: #383f49;
}
.nav-links > li:hover > a:before {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease 0s;
}
.nav-links li:hover > .drop-down {
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease 0s;
}
.nav-links .drop-down {
    display: block;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    float: left;
    left: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease 0s;
}
.nav-links .drop-down a:hover {
    color: #ED5564;
}
.nav-links .drop-down > ul,
.nav-links .drop-down > .mega-menu {
    padding: 15px;
    background-color: #434A54;
    border-radius: 6px;
    box-shadow: 0 0.313em 0.313em rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    float: left;
}
.nav-links .drop-down.medium {
    max-width: 50%;
    width: auto;
    left: auto;
}
.nav-links .drop-down.large {
    max-width: 100%;
    width: 100%;
    left: 0;
}
.nav-links .drop-down iframe {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav-links .cat-label {
    position: absolute;
    font-size: 9px;
    padding: 0 6px;
    background-color: #72BF20;
    color: #fff !important;
    line-height: 15px;
    margin: 0 5px;
}
.nav-links .cat-label:before {
    border-color: #72BF20 transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    left: 8px;
    top: 15px;
    transition: border-color 450ms ease-in-out 0s;
    width: 0;
}
.nav-links .cat-label.hot {
    background-color: #FAD160;
}
.nav-links .cat-label.hot:before {
    border-color: #FAD160 transparent transparent;
}
.nav-links .sub-menu {
    min-width: 200px;
}
.nav-links .sub-menu > li {
    position: relative;
}
.nav-links .sub-menu > li > a {
    display: block;
    padding: 12px;
}
.nav-links .sub-menu > li > a:hover {
    background-color: #383F49;
}
.nav-links .sub-menu > li > a .fa-indicator {
    float: right;
    margin-left: 5px;
    padding-top: 3px;
}
.nav-links .sub-menu > li:hover > a {
    background-color: #383F49;
}
.nav-links .sub-menu .drop-down {
    left: 100%;
    top: -10px;
    padding: 0 15px;
}
.nav-links .sub-menu .drop-down > ul {
    padding: 10px 0;
}
.nav-links .sub-menu .drop-down > ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #434A54 transparent transparent;
    position: absolute;
    top: 15px;
    left: -10px;
}
.nav-links .list-items > li > a {
    display: block;
    padding: 10px 0px;
}
.nav-links .form-group {
    padding: 15px;
    background-color: #1E2226;
    margin-bottom: 15px;
}
.nav-links .form-group input,
.nav-links .form-group textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 34px;
    background-color: #fff;
    border: none;
    max-width: 200px;
    display: block;
    padding: 6px;
}
.nav-links .form-group textarea {
    height: 100px;
}
.nav-links .nav-form {
    padding: 0;
    margin: 0 -5px;
}
.nav-links .nav-form h3 {
    padding: 15px;
    margin: 0;
}
.nav-links .nav-form .btn {
    margin: 0 15px 15px;
    border-radius: 3px;
    padding: 6px 12px;
    background-color: #1E2226;
    color: #fff;
    border: 1px solid #1E2226;
}
.nav-links .btn-sub-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    z-index: 20;
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    .nav-links {
        display: block!important;
    }
    .nav-links .drop-down {
        display: block !important;
    }
    .nav-links > li > a .cat-label {
        left: 12px;
        top: 2px;
    }
}
@media (max-width: 991px) {
    .nav-links .drop-down.medium {
        max-width: 100%;
        left: 0;
    }
}
@media (max-width: 767px) {
    .nav {
        position: relative;
    }
    .nav .col-xs-1,
    .nav .col-sm-1,
    .nav .col-md-1,
    .nav .col-lg-1,
    .nav .col-xs-2,
    .nav .col-sm-2,
    .nav .col-md-2,
    .nav .col-lg-2,
    .nav .col-xs-3,
    .nav .col-sm-3,
    .nav .col-md-3,
    .nav .col-lg-3,
    .nav .col-xs-4,
    .nav .col-sm-4,
    .nav .col-md-4,
    .nav .col-lg-4,
    .nav .col-xs-5,
    .nav .col-sm-5,
    .nav .col-md-5,
    .nav .col-lg-5,
    .nav .col-xs-6,
    .nav .col-sm-6,
    .nav .col-md-6,
    .nav .col-lg-6,
    .nav .col-xs-7,
    .nav .col-sm-7,
    .nav .col-md-7,
    .nav .col-lg-7,
    .nav .col-xs-8,
    .nav .col-sm-8,
    .nav .col-md-8,
    .nav .col-lg-8,
    .nav .col-xs-9,
    .nav .col-sm-9,
    .nav .col-md-9,
    .nav .col-lg-9,
    .nav .col-xs-10,
    .nav .col-sm-10,
    .nav .col-md-10,
    .nav .col-lg-10,
    .nav .col-xs-11,
    .nav .col-sm-11,
    .nav .col-md-11,
    .nav .col-lg-11,
    .nav .col-xs-12,
    .nav .col-sm-12,
    .nav .col-md-12,
    .nav .col-lg-12 {
        float: none;
        width: 100%;
    }
    .nav .active-nav {
        display: block;
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        text-align: center;
        line-height: 50px;
        color: #fff;
    }
    .nav .active-nav span {
        display: none;
    }
    .nav-links {
        background-color: #434A54;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 88;
        padding: 10px 0;
    }
    .nav-links .btn-sub-menu {
        display: block;
    }
    .nav-links > li {
        float: none;
        width: 100%;
        display: block;
    }
    .nav-links > li.item-parent > a:before {
        content: none;
    }
    .nav-links > li > a {
        padding: 12px;
    }
    .nav-links > li.active > a {
        background-color: #383F49;
        color: #d6d6d6;
    }
    .nav-links > li:hover > a {
        background-color: #383F49;
        color: #d6d6d6;
    }
    .nav-links li {
        position: relative;
    }
    .nav-links li.item-parent > a {
        padding-right: 45px;
    }
    .nav-links li a > .fa-indicator {
        display: none;
    }
    .nav-links .drop-down {
        position: static;
        visibility: visible;
        opacity: 1;
        float: none;
        display: none;
        padding: 0;
        margin: 0;
    }
    .nav-links .drop-down > ul,
    .nav-links .drop-down .mega-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        border-radius: 0;
        float: none;
        box-shadow: none;
        padding: 0 15px;
        margin: 0;
    }
    .nav-links .sub-menu {
        min-width: auto;
    }
    .nav-links .sub-menu .drop-down > ul:before {
        content: none;
    }
    .nav-links .sub-menu li a {
        padding-left: 25px;
    }
    .nav-links .sub-menu .sub-menu a {
        padding-left: 45px;
    }
    .nav-links .sub-menu .drop-down {
        padding: 0;
    }
}
.block-featured-product .owl-product .item {
    padding: 0 10px;
}
.block-featured-product .owl-product .item-photo {
    display: block;
    margin-bottom: 5px;
    border: 1px solid #fff;
    text-align: center;
}
.block-featured-product .owl-product .item-photo img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.block-featured-product .owl-product .item-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.block-featured-product .owl-product .item-price {
    display: block;
    font-weight: bold;
    color: #ED5564;
}
/*custom css*/
.magemenu-menu .menu > div{
    position: absolute;
    top: calc(100% - 5px);
    max-width: 1200px;
    width: 100%;
    left: 0;
    visibility: hidden;
}
.magemenu-menu li.menu > div > div.menu-box{
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    margin-top: 25px;
    width: 100%;
    background: #fff;
    border-top: 3px solid #25bce9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
}
.magemenu-menu li.menu > div > div.menu-box * {
    max-width: 100%;
    text-align: center;
}
.magemenu-menu li.menu:hover > div > div.menu-box{
    /*display: block;*/
    visibility: visible;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    margin-top: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.magemenu-menu li.menu > div > div.menu-box:after{
    content: " ";
    display: block;
    clear: both;
}
ul.itemsubmenu{
    visibility: hidden;
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    z-index: 991;
    background: #fff;
    width: 215px;
    margin-left: 100%;
    padding: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.menu.parentMenu div.block-main> ul.itemsubmenu{
    margin-left: 0;
}
.magemenu-menu li:hover div.block-main > ul.itemsubmenu,
.magemenu-menu li:hover > ul.itemsubmenu{
    visibility: visible;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    margin-top: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.magemenu-menu ul.itemsubmenu li{
    width: 215px;
    height: 40px;
    border-bottom: 1px dotted #d7d7d7;
    width: 90%;
    float: left;
}
.magemenu-menu ul.itemsubmenu li a{
    float: left;
    position: relative;
    padding: 5px 0;
    color: #333333;
    text-transform: uppercase;
    width: 100%;
    padding: 5%;
    cursor: pointer;
}
.magemenu-menu ul.itemsubmenu li:hover > a{
    background: #25bce9;
    color: #fff;
}

/*--Grid--*/
.magemenu-menu .block-main.grid .grid-child > ul {
    display: inline-block;
    width: 100%;
    box-shadow: none;
}
.magemenu-menu .block-main.grid .grid-child > ul > li {
    border: none;
}
.magemenu-menu .block-main.grid .grid-child > ul > li:before{
    display: none;
}
.magemenu-menu li.menu > div > div.menu-box .block-main.grid,
.magemenu-menu li.menu > div > div.menu-box .block-main.grid *{
    text-align: left;
}
.magemenu-menu li div.block-main .grid-child > ul.itemsubmenu{
    margin-left: 0;
}
.magemenu-menu li:hover div.block-main .grid-child > ul.itemsubmenu{
    visibility: visible;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    margin-top: 0;
    margin-left: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
/*--End Grid--*/

/*--------Vertical----------*/
.sections.nav-sections,
.sections.nav-sections .navigation{
    background: none;
}
.nav-sections-item-content .navigation{
    z-index: 99;
}
.nav-sections-item-content .navigation.vertical{
    z-index: 98;
    margin-top: 20px;
}
.nav-sections-item-content .navigation::after {
    content: " ";
    display: block;
    clear: both;
}

.navigation.vertical > .btn-menu-vertical{
    text-transform: uppercase;
    color: #333;
    cursor: pointer;
}
.navigation.vertical > .btn-menu-vertical:before{
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 28px;
    color: #8f8f8f;
    content: '\e609';
    font-family: 'luma-icons';
    margin: -3px 10px 0 18px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.navigation.magemenu-menu.vertical-menu {
    position: absolute;
    top: 100%;
    margin-top: 15px;
    display: none;
}
.navigation.magemenu-menu.vertical-menu.active {
    display: block;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu {
    width: 300px;
    padding: 15px;
    border: 1px solid #d7d7d7;
    background: #fff;
    position: static;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu > li.menu:nth-child(1) {
    border-top: 1px dotted #d7d7d7;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu > li.menu {
    border-bottom: 1px dotted #d7d7d7;
    width: 100%;
    height: 40px;
    padding: 10px;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu > li.menu > div{
    top: 0;
    width: calc(100% - 300px);
    left: 285px;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu > li.menu .menu-box{
    min-height: 272px;
    margin-top: 0;
    margin-left: 50px;
}
.navigation.magemenu-menu.vertical-menu .nav-exploded.explodedmenu > li.menu:hover .menu-box{
    margin-left: 0;
}
.navigation.magemenu-menu.vertical-menu .explodedmenu li.menu{
    color: #333333;
    text-transform: uppercase;
}
.navigation.magemenu-menu.vertical-menu .explodedmenu > li:hover{
    background: #25bce9;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}
.navigation.magemenu-menu.vertical-menu .explodedmenu li > a span {
    font-weight: 500 !important;
    text-transform: uppercase;
}
.navigation.magemenu-menu.vertical-menu .explodedmenu li:hover > a span {
    color: #fff;
}
/*--------End Vertical--------*/