.navigation {
    box-sizing: border-box;
}
.navigation * {
    box-sizing: border-box;
}
.navigation *:before,
.navigation *:after {
    box-sizing: border-box;
}
.navigation .col-1,
.navigation .col-2,
.navigation .col-3,
.navigation .col-4,
.navigation .col-5,
.navigation .col-6,
.navigation .col-7,
.navigation .col-8,
.navigation .col-9,
.navigation .col-10,
.navigation .col-11,
.navigation .col-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.navigation .col-12 {
    width: 100%;
}
.navigation .col-11 {
    width: 91.66666667%;
}
.navigation .col-10 {
    width: 83.33333333%;
}
.navigation .col-9 {
    width: 75%;
}
.navigation .col-8 {
    width: 66.66666667%;
}
.navigation .col-7 {
    width: 58.33333333%;
}
.navigation .col-6 {
    width: 50%;
}
.navigation .col-5 {
    width: 41.66666667%;
}
.navigation .col-4 {
    width: 33.33333333%;
}
.navigation .col-3 {
    width: 25%;
}
.navigation .col-2 {
    width: 16.66666667%;
}
.navigation .col-1 {
    width: 8.33333333%;
}
.navigation ul {
    margin: 0;
    padding: 0;
}
.navigation ul:before,
.navigation ul:after {
    content: "";
    display: table;
}
.navigation ul:after {
    clear: both;
}
.navigation li {
    padding: 0;
    margin: 0;
}
.navigation a {
    text-decoration: none;
    color: #333;
}
.navigation a:hover {
    text-decoration: none;
    color: #fad160;
}
.navigation .mega-icon {
    margin-right: 5px;
    cursor: pointer;
}
.navigation .mega-label {
    position: absolute;
    font-size: 9px;
    padding: 0 6px;
    background-color: #72BF20;
    color: #fff !important;
    line-height: 15px;
    margin: 0 5px;
}
.navigation .mega-label:before {
    border-color: #72BF20 transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    left: 8px;
    top: 15px;
    transition: border-color 450ms ease-in-out 0s;
    width: 0;
}
.navigation .mega-label.hot {
    background-color: #FAD160;
}
.navigation .mega-label.hot:before {
    border-color: #FAD160 transparent transparent;
}
.navigation .ui-menu {
    font-weight: normal;
}
.navigation .ui-menu > li > a {
    display: inline-block;
    position: relative;
}
.navigation .ui-menu > li > a .mega-label {
    top: -10px;
    right: 15px;
}
.navigation .ui-menu > li {
    float: left;
    display: block;
}
.navigation .ui-menu > li > a {
    padding: 0 12px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation .ui-menu > li > .submenu {
    border-top: 2px solid #fad160;
}
.navigation .ui-menu > li > .submenu .submenu {
    left: 100%;
    top: 0;
    margin-left: -20px;
}
.navigation .ui-menu > li > .ui-menu-icon {
    display: none;
}
/*.navigation .ui-menu li {*/
    /*position: relative;*/
/*}*/
.navigation .ui-menu .ui-menu-icon {
    width: 20px;
    line-height: 26px;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.navigation .ui-menu .ui-menu-icon:before {
    content: "\f105";
    font-family: 'FontAwesome';
}
.navigation .submenu {
    background-color: #fff;
    display: none;
}
.navigation .submenu a {
    line-height: 30px;
    display: inline-block;
}
@media (min-width: 768px) {
    .navigation {
        box-sizing: border-box;
        font-weight: normal;
    }
    .navigation * {
        box-sizing: border-box;
    }
    .navigation *:before,
    .navigation *:after {
        box-sizing: border-box;
    }
    .navigation .col-1,
    .navigation .col-2,
    .navigation .col-3,
    .navigation .col-4,
    .navigation .col-5,
    .navigation .col-6,
    .navigation .col-7,
    .navigation .col-8,
    .navigation .col-9,
    .navigation .col-10,
    .navigation .col-11,
    .navigation .col-12 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
    }
    .navigation .col-12 {
        width: 100%;
    }
    .navigation .col-11 {
        width: 91.66666667%;
    }
    .navigation .col-10 {
        width: 83.33333333%;
    }
    .navigation .col-9 {
        width: 75%;
    }
    .navigation .col-8 {
        width: 66.66666667%;
    }
    .navigation .col-7 {
        width: 58.33333333%;
    }
    .navigation .col-6 {
        width: 50%;
    }
    .navigation .col-5 {
        width: 41.66666667%;
    }
    .navigation .col-4 {
        width: 33.33333333%;
    }
    .navigation .col-3 {
        width: 25%;
    }
    .navigation .col-2 {
        width: 16.66666667%;
    }
    .navigation .col-1 {
        width: 8.33333333%;
    }
    .navigation ul {
        margin: 0;
        padding: 0;
    }
    .navigation ul:before,
    .navigation ul:after {
        content: "";
        display: table;
    }
    .navigation ul:after {
        clear: both;
    }
    .navigation li {
        padding: 0;
        margin: 0;
    }
    .navigation a {
        text-decoration: none;
        color: #333;
    }
    .navigation a:hover {
        text-decoration: none;
        color: #fad160;
    }
    .navigation .mega-icon {
        margin-right: 5px;
        cursor: pointer;
    }
    .navigation .mega-label {
        position: absolute;
        font-size: 9px;
        padding: 0 6px;
        background-color: #72BF20;
        color: #fff !important;
        line-height: 15px;
        margin: 0 5px;
    }
    .navigation .mega-label:before {
        border-color: #72BF20 transparent transparent;
        border-style: solid;
        border-width: 4px;
        content: "";
        height: 0;
        position: absolute;
        left: 8px;
        top: 15px;
        transition: border-color 450ms ease-in-out 0s;
        width: 0;
    }
    .navigation .mega-label.hot {
        background-color: #FAD160;
    }
    .navigation .mega-label.hot:before {
        border-color: #FAD160 transparent transparent;
    }
    .navigation .ui-menu > li > a {
        display: inline-block;
        position: relative;
    }
    .navigation .ui-menu > li > a .mega-label {
        top: -10px;
        right: 15px;
    }
    .navigation .ui-menu > li {
        float: left;
        display: block;
    }
    .navigation .ui-menu > li > a {
        padding: 0 12px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .navigation .ui-menu > li > .submenu {
        border-top: 2px solid #fad160;
    }
    .navigation .ui-menu > li > .submenu .submenu {
        left: 100%;
        top: 0;
        margin-left: -20px;
    }
    .navigation .ui-menu > li > .ui-menu-icon {
        display: none;
    }
    /*.navigation .ui-menu li {*/
        /*position: relative;*/
    /*}*/
    .navigation .ui-menu li.megamenu,
    .navigation .ui-menu li.vertical-menu {
        position: static;
    }
    .navigation .ui-menu li:hover > .submenu {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    .navigation .ui-menu .ui-menu-icon {
        width: 20px;
        line-height: 26px;
        height: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
    .navigation .ui-menu .ui-menu-icon:before {
        content: "\f105";
        font-family: 'FontAwesome';
    }
    .navigation .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 12px;
        background-color: #fff;
        display: none;
        min-width: 280px;
        z-index: 100;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
    .navigation .submenu a {
        line-height: 30px;
        display: inline-block;
    }
    .navigation .megamenu > .submenu {
        left: 0;
        right: 0;
    }
    .navigation .megamenu > .submenu .submenu {
        position: static;
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        visibility: visible;
        opacity: 1;
        box-shadow: none !important;
    }
    .navigation .megamenu > .submenu .parent > a {
        font-weight: bold;
    }
    .navigation .megamenu > .submenu .ui-menu-icon {
        display: none;
    }
    .navigation .vertical-menu > .submenu {
        left: 0;
        right: 0;
        min-height: 200px;
        padding: 0;
    }
    .navigation .vertical-menu > .submenu .submenu {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        visibility: visible;
        opacity: 1;
        box-shadow: none !important;
        position: static !important;
    }
    .navigation .vertical-menu > .submenu .submenu .ui-menu-icon {
        display: none;
    }
    .navigation .vertical-menu > .submenu > li {
        padding: 6px 12px;
        width: 300px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        position: static;
    }
    .navigation .vertical-menu > .submenu > li > a {
        font-weight: bold;
    }
    .navigation .vertical-menu > .submenu > li > .submenu {
        left: 300px;
        right: 0;
        position: absolute !important;
        padding: 12px !important;
        display: none !important;
    }
    .navigation .vertical-menu > .submenu > li > .ui-menu-icon {
        left: 280px;
    }
    .navigation .vertical-menu > .submenu > li:hover {
        border-right-color: transparent;
    }
    .navigation .vertical-menu > .submenu > li:hover > .submenu {
        display: block!important;
    }
    .navigation .vertical-menu > .submenu .parent > a {
        font-weight: bold;
    }
}
@media (max-width: 768px) {
    .navigation .col-1,
    .navigation .col-2,
    .navigation .col-3,
    .navigation .col-4,
    .navigation .col-5,
    .navigation .col-6,
    .navigation .col-7,
    .navigation .col-8,
    .navigation .col-9,
    .navigation .col-10,
    .navigation .col-11,
    .navigation .col-12 {
        display: block;
        margin-left: 0;
        width: 100%;
    }
    .navigation .ui-menu > li {
        float: none;
        display: block;
        border-bottom: 1px solid #ccc;
    }
    .navigation .ui-menu > li > .ui-menu-icon {
        height: 50px;
        line-height: 50px;
        text-align: right !important;
    }
    .navigation .ui-menu > li .ui-menu-icon {
        display: block ;
        width: auto;
        right: 5px;
        top: 0;
        cursor: pointer;
        right: 0;
        left: 0;
        text-align: right !important;
        padding-right: 15px;
        line-height: 38px;
        height: 38px;
    }
    .navigation .ui-menu > li .ui-menu-icon.has-active {
        color: #fad160;
    }
    .navigation .ui-menu > li .ui-menu-icon.has-active:before {
        content: "\f106";
    }
    .navigation .ui-menu > li a {
        position: relative;
        z-index: 10;
        display: inline-block !important;
    }
    .navigation .ui-menu .parent > a {
        font-weight: bold;
    }
    .navigation .ui-menu li {
        /*position: relative ;*/
        padding: 0;
    }
    .navigation .ui-menu li:hover {
        background-color: #F0F0F0;
    }
    .navigation .ui-menu li .submenu {
        position: static;
        padding: 0;
        margin: 0 !important;
        display: none !important;
    }
    .navigation .ui-menu li .submenu:first-child {
        display: none;
    }
    .navigation .ui-menu .has-active {
        background-color: #F0F0F0;
    }
    .navigation .ui-menu .has-active > a {
        color: #fad160;
    }
    .navigation .ui-menu .has-active > .submenu {
        display: block !important;
    }
}

.navigation .product-item .product-item-photo{
    display: block;
    width: 100%;
}
.navigation .product-item .product-item-name .product-item-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block !important;
}