
/* Lists */
ul,
ol {
  list-style: none;
  margin: 0;
}
.magemenu-menu.horizontal-menu {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}
.magemenu-menu.horizontal-menu img{
  height: auto;
}
.magemenu-menu.horizontal-menu .fieldset > .field, .fieldset > .fields > .field {
  margin: 0 0 20px;
}
.magemenu-menu.horizontal-menu .fieldset > .field > .label, .fieldset > .fields > .field > .label {
  margin: 0 0 8px;
  display: inline-block;
}
.magemenu-menu.horizontal-menu .label {
  color: #333333;
}
.magemenu-menu.horizontal-menu .action.primary{
  background-image: none;
  background: #1979c3;
  border: 1px solid #1979c3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 7px 15px;
  font-size: 1.4rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.magemenu-menu.horizontal-menu .action.primary:hover {
  background: #006bb4;
  border: 1px solid #006bb4;
  color: #fff;
}
.magemenu-menu.horizontal-menu input[type="text"],
.magemenu-menu.horizontal-menu input[type="password"],
.magemenu-menu.horizontal-menu input[type="url"],
.magemenu-menu.horizontal-menu input[type="tel"],
.magemenu-menu.horizontal-menu input[type="search"],
.magemenu-menu.horizontal-menu input[type="number"],
.magemenu-menu.horizontal-menu input[type="datetime"],
.magemenu-menu.horizontal-menu input[type="email"],
.magemenu-menu.horizontal-menu textarea {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: auto;
  line-height: 1.42857143;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}
.magemenu-menu.horizontal-menu input:focus, textarea:focus{
  box-shadow: 0 0 3px 1px #68a8e0;
}
.magemenu-menu.horizontal-menu {
/*  float: left;*/
  clear: both;
  display: block;
}
.magemenu-menu.horizontal-menu .menu > a {
  position: relative;
}
.magemenu-menu.horizontal-menu .menu > a img {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: -12px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block {
  float: left;
  margin-bottom: 0;
  width: auto;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate {
  position: relative;
  z-index: 2;
  width: 235px;
  min-width: 215px;
  padding-right: 20px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3 {
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3:before,
li.subcate_list:before {
  position: absolute;
  width: 6px;
  height: 6px;
  content: "";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 16px;
  left: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 1px solid #999999;
}
li.subcate_list:before {
   left: 15px; 
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate h3 a {
  float: left;
  white-space: nowrap;
  text-decoration: none;
  color: #555f76;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate {
  position: relative;
  float: left;
  width: 100%; 
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate.subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 15px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate h3 {
  float: left;
  width: 100%;
  margin: 0;
  line-height: 40px;
  font-size: 100%;
  padding-left: 20px;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate h3 > a {
  color: #444;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu {
  position: relative;
  padding-left: 15px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu a {
  color: #444;
  line-height: 40px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover {
  background: #25bce9;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate .itemMenu:hover > a {
  color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul.itemsubmenu {
  position: absolute;
  left: 150%;
  min-width: 220px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  top: 0;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul {
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li {
  border-bottom: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li:first-child {
  border-top: 1px dotted #d7d7d7;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li a {
  line-height: 40px;
  text-decoration: none;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul .itemMenu:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover {
  background: #25bce9;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3:before {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover h3 a {
  color: #fff;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate:hover > ul {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 100%;
  top: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  visibility: visible;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left {
  min-width: auto;
  padding-right: 20px;
  width: 250px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left > p > img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-bottom {
	border-top: 1px dashed #d7d7d7;
    color: #555f76 !important;
    float: left;
    font-size: 18px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-bottom > p img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-top {
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  border-bottom: 1px dashed #d7d7d7;
  width: 100%;
  color: #555f76;
  font-size: 18px;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-product {
  position: relative;
  z-index: 1;
  width: 250px;
  min-width: 250px;
  padding-right: 20px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right {
  width: 250px;
  min-width: 250px;
  padding-right: 20px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block h2.title-right {
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #555f76;
  width: 100%;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content {
  float: left;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > a {
  margin-bottom: 10px;
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content > p {
  width: 230px;
  color: #888;
  float: left;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item > h2 {
  font-size: 18px;
  color: #555f76;
  margin-top: -2px;
  margin-bottom: 10px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-image {
  float: left;
  border: 1px solid #d7d7d7;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-image img {
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info {
  float: left;
  width: 100%;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .product-name {
  margin-top: 25px;
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .product-name a {
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  font-size: 14px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .product-info .price-box .old-price .price {
  font-size: 14px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions {
  margin-top: 7px;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .product-grid .item .actions p {
  color: #888;
}
.magemenu-menu.horizontal-menu .explodedmenu {
  float: left;
  width: 100%;
  position: relative;
  padding: 0;
}
.magemenu-menu.horizontal-menu .explodedmenu > li {
  padding: 9px 0;
}
.magemenu-menu.horizontal-menu .explodedmenu > li:hover > a {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  background: #25bce9;
  text-decoration: none;
  z-index: 1;
}
.magemenu-menu.horizontal-menu .explodedmenu > li:hover > a span {
  color: #fff;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu {
  float: left;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
  margin-right: 1px;
  float: left;
  position: relative;
  padding: 4px 20px 4px;
  color: #333333;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu > a span {
  font-weight: 500 !important;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup {
  position: absolute;
  top: 58px;
  z-index: 991;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  left: 0;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-4 .explodedmenu-menu-popup {
    width: 100%;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
  padding: 14px 25px;
  float: left;
  max-width: 1200px;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu:hover .explodedmenu-menu-popup {
  top: 38px;
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff; 
  border-top: 3px solid #25bce9;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  max-width:1200px;
}
.magemenu-menu.horizontal-menu .subparent:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 14px;
  top: 7px;
  right: 10px;
  color: #444;
  position: absolute;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.magemenu-menu.horizontal-menu .subparent:hover.subparent:before {
  right: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #fff;
}

.magemenu-menu img {
	max-width: 100%;
}


.nb_lbl_type img{
	float: left;
	margin-right: 5px;
}

.nb_pstatic_cat {
	font-weight: bold;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid {
    width: 100%;  
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div {
    text-align: center;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div:not(:last-child) {
    padding-right: 15px;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a.mm-product-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.nbtype-6  .mm-product-name  strong{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   	
	width: 100%;
	display: block;
}
.magemenu-menu .price-box .price {
	font-size: 13px;
  color: #1979c3;
}
.magemenu-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid img {
  margin: 0 auto;
	display: block;
	max-width: 100%;
}
.magemenu-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a:first-child img {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.magemenu-menu .explodedmenu .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a:hover img {
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px); 
    -moz-transform: translateY(-10px); 
    -o-transform: translateY(-10px); 
    transform: translateY(-10px); 
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid {
    width: 100%;
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid .form-group {
    display: inline-block;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group  a:first-child  span:first-child {
	height: 145px;	
	display: block;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group img {
	margin: 0 auto;
    max-width: 100%;
	max-height: 100%;
    -weblit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group img:hover {
    -weblit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.magemenu-menu.horizontal-menu .inner-cms-block.row-cate-grid .form-group a {
    text-decoration: none;
}
.magemenu-menu .inner-cms-block.row-cate-grid .form-group a.mm-cate-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.magemenu-menu .menu .inner-cms-block .block h2{
    font-size: 18px;
    color: #555f76;    
    min-width: 1px;
    margin-top: -2px;
    margin-bottom: 10px;
}
.magemenu-menu .menu .inner-cms-block .block h2.product-name {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}
.magemenu-menu .menu .inner-cms-block .block .product-image,
.magemenu-menu .menu .inner-cms-block .block .product-image:hover {
    border: 1px solid #d7d7d7;
}
.magemenu-menu .menu .inner-cms-block .block .product-image{
  display: inline-block;
}
.magemenu-menu .menu .inner-cms-block .block .product-image img {
    max-width: 100%;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .nbtype-2 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .nbtype-5 .explodedmenu-menu-popup {
    width: 100%;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category {
    padding-top: 15px;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category a {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
}
.magemenu-menu.horizontal-menu .nbtype-3 .explodedmenu-menu-popup .col-category a:hover,
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a:hover {
    text-decoration: underline;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right {
    width: 200px;
    min-width: 200px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block .block-content img {
    width: 100%;
  }
  .magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
    padding: 14px 10px;
  }
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-7 .explodedmenu-menu-popup,
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block.my-contact-form,
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup,
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup .inner-cms-block{
    width: 100%;
}
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-6 .explodedmenu-menu-popup .inner-cms-block {
    padding-left: 0;
}
.col-nb-1 {width: 100%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-2 {width: 50%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-3 {width: 33.333333333%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-4 {width: 25%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-5 {width: 20%; float:left; padding: 0px 15px;box-sizing: border-box;} 
.col-nb-6 {width: 16.666666666%; float:left; padding: 0px 15px;box-sizing: border-box;min-height:200px;}
.col-nb-7 {width: 14.2857142857%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-8 {width: 12.5%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-9 {width: 11.1111111111%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-10 {width: 10%; float:left; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-11 {width: 9.09090909091%; float:left; padding: 0px 15px;box-sizing: border-box;}
.col-nb-12 {width: 8.333333333%; float:left; padding: 0px 15px;box-sizing: border-box;}
.nbtype-5 .col-nb-1, .nbtype-5 .col-nb-2, .nbtype-5 .col-nb-3,
.nbtype-5 .col-nb-4, .nbtype-5 .col-nb-5, .nbtype-5 .col-nb-6,
.nbtype-5 .col-nb-7, .nbtype-5 .col-nb-8, .nbtype-5 .col-nb-9,
.nbtype-5 .col-nb-10, .nbtype-5 .col-nb-11, .nbtype-5 .col-nb-12 {
    padding: 0px;
    padding-right: 15px;
}
.magemenu-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a,
.magemenu-menu .subcate_content a.mm-product-name{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    /* color: #000; */
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > p {
    text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu.nbtype-5 .block-2.row-product-list {
    padding-top: 15px;
}
.magemenu-menu #block-col2.row-static-cate-grid img {
    max-width: 100%;
}
li.subcate_list {
    display: block;
    border: 1px dotted #d7d7d7;
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-left: 0;
    cursor: pointer;
    padding-left: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
}
li.subcate_list:not(:first-child){
    border-top: 0;
}
li.subcate_list.active {
    border-right: 0;
}
li.subcate_list:hover {
    color: #fff;
    background:#25bce9;
}
li.subcate_list:hover:before {
    border-color: #fff;
}
.subcate_content {
    display: none;
}
.subcate_content.active {
    display: block;
}
.nbtype-3 .row-static-cate-grid .col-category  span:first-child {
	height: 80px;
	display: block;
}
.nbtype-3 .row-static-cate-grid img {
	max-width: 100%;
	max-height: 100%;
}
.nbtype-3 .row-static-cate-grid a {
	color: #000;
}

.pull-right {
	position: absolute;
    bottom: 0;
    right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
      padding: 10px;
  } 
    .magemenu-menu.horizontal-menu .menu.nb-custome {
        position: static;
    }
}
/* style magento 2*/
.block .price-box{
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.block .price-box >p{
  float: left;
  margin-top: 5px;
}
.block .price-box button.action{
  margin-left: 20px;
  float: left;
  text-transform: uppercase;
}
.magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li{
  margin-bottom: 0;
}
.magemenu-menu .menu .inner-cms-block .block h2.product-name{
  margin-bottom: 4px;
} 
.parentMenu a{
  display: block;
}
.my-contact-form >p{
  float: left;
}
.my-contact-form > form{
  float: right;
  width: 43%;
}
.my-contact-form > p > iframe{
  float: left;
}
.horizontal-menu .explodedmenu .nbtype-4 .explodedmenu-menu-popup .row-productgrid,
.horizontal-menu .explodedmenu .nbtype-6 .explodedmenu-menu-popup .inner-cms-block,
.horizontal-menu .explodedmenu .nbtype-7 .explodedmenu-menu-popup .inner-cms-block,
.horizontal-menu .explodedmenu .nbtype-2 .explodedmenu-menu-popup .inner-cms-block{
  width: 100% !important;
}
.horizontal-menu .explodedmenu .nbtype- .explodedmenu-menu-popup .inner-cms-block{
  width: auto !important;
}
.horizontal-menu .explodedmenu .nbtype- .explodedmenu-menu-popup .inner-cms-block .block.block-cate{
  padding-right: 0;
}
.explodedmenu-menu-popup h3{
  font-weight: normal;
}
.label{
  color: #333333;
}
.fieldset{
  margin-bottom: 25px;
}
/*   responsive */

@media (min-width: 992px) and (max-width: 1199px) { 
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-product{
    min-width: 230px;
    width: 230px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left{
    width: 230px;
  }
  .my-contact-form > p > iframe{
    width: 520px;
  }
}
@media (min-width: 768px) and (max-width: 991px) { 
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-left{
    width: 175px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate{
     width: 175px;
     min-width: 175px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-product{
     width: 175px;
     min-width: 175px;
  }
  .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-right{
     width: 175px;
     min-width: 175px;
  }
  .block .price-box{
    margin-top: 5px;
    width: 100%;
  }
  .block .price-box button.action{
    margin-left: 0;
  }
  .my-contact-form > p > iframe{
    width: 400px;
  }
  .magemenu-menu.horizontal-menu .explodedmenu li.menu > a{
    padding: 4px 15px;
  }
}
